body {
    font-family: 'Roboto', sans-serif;
}
.beach_please_logo {
    max-height: 100px;
}
.caraousel-image-size {
    width: 100%;
    aspect-ratio: 2;
    object-fit:cover;
}
.logo-img {
    width: 100%;
    max-width: 150px;
}