body {
    font-family: 'Roboto', sans-serif;
    background-color: #caf7e3;
}
.beach_please_logo {
    max-height: 100px;
}
.caraousel-image-size {
    width: 100%;
    aspect-ratio: 2;
    object-fit:cover;
    opacity: 0.9;
}
.logo-img {
    width: 100%;
    max-width: 150px;
}
.caption{
  color: #fff;
  font-size: 40px;
}
.about{
  /* width: 60%; */
  
  margin: 80px auto 80px;
  text-align: justify;
  line-height: 2;
  justify-content: center;
}
.dadar-beach{
  width: 45%;
  float: right;
  padding-left: 40px;
}
.about-heading{
  color: black;
  font-weight:600;
  font-size: 2.5rem;
}
