body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffe894;
}
.beach_please_logo {
    max-height: 100px;
}
.caraousel-image-size {
    width: 100%;
    aspect-ratio: 2;
    object-fit:cover;
    opacity: 0.9;
}
.logo-img {
    width: 100%;
    max-width: 150px;
}
.caption{
  color: #fff;
  font-size: 40px;
}
/* .about{
  width: 60%;
  margin: 80px auto 80px;
  text-align: left;
  line-height: 2;
} */

.about {
  margin: auto;
  text-align:justify;
  max-width: 1200px;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
  .about {
    max-width: 1160px;
  }
}
@media only screen and (max-width: 1200px) {
  .about {
    max-width: 924px;
  }
}
@media only screen and (max-width: 992px) {
  .about {
    max-width: 708px;
  }
}
@media only screen and (max-width: 768px) {
  .about {
    max-width: 516px;
  }
}
@media only screen and (max-width: 576px) {
  .about {
    max-width: 456px;
  }
}
@media only screen and (max-width: 480px) {
  .about {
    max-width: 90%;
  }
}
.dadar-beach{
  width: 100%;
  margin: auto;
}
.about-heading{
  color: black;
  font-weight:600;
  font-size: 2.5rem;
}
